body{
    background:  #E5E5E5;
    margin: 0px; 
    height: fit-content;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-left: 0px;
    margin-right: 0px;
    transition: background 2s;
    position: relative;
    height: 900px;
}

.sign-in-div{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-family: lexend Deca;
    line-height: 80px;
    font-weight: 400;
    color: #224957;
    margin-bottom: 0px;
    transition: color 2s;
}

h3{
    display: flex;
    justify-content: center;
    font-family: lexend Deca;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #224957;  
    margin-top: 39px;
    transition: color 2s;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

input{
    width: 300px;
    height: 45px;
    border-radius: 10px;
    margin-top: 36px;
    background-color: #224957;
    color: #FFFFFF;
}

::placeholder{
    color: rgba(255, 255, 255, 1);
    font-family: lexend Deca;
    font-weight: 400;
    font-size: 14px;
}

.checkbox-div{
    border: 1px solid black;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    margin-left: 32px;
    background: #224957;
}

.checkbox-img{
    display: flex;    
    width: 15px;
    height: 15px;
    align-self: center;
    border-radius: 5px;
}
.remember-me{
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.remember-me-txt{
    margin-right: auto;
    margin-left: 7px;
    font-family: lexend Deca;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #093545;
    transition: color 1s, font-size .5s;    
    transition-timing-function: ease-in-out;
}

.remember-me-txt:hover{
    font-size: 16px;
}

.forgot-password{
    margin-right: 32px;
    font-family: lexend Deca;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #093545;
    transition: color 2s, font-size .5s;
    transition-timing-function: ease-in-out;
}

.forgot-password:hover{
    font-size: 16px;
}

.login-btn{
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    background: #20DF7F;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    font-family: lexend Deca;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #224957;
    transition: color 2s;

}

.sign-in-footer{
    background: #224957;
    height: 111px;
    width: 100%;
    margin-top: 70px;
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
}

.dark-mode-img{
    width: 60px;
    position: absolute;
    left: 75%;
    top: 15%;
}

.remember-me-txt, .forgot-password, .login-btn, .checkbox-div, .dark-mode-img{
    cursor: pointer;
}

.error-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* Admin page construction */

.admin-dash{
    display: flex;
    height: 100%;
}

.sidebar{
    background: #363740;
    width: 18%;
    height: 100%;
}

.main-content{
    width: 100%;
    background: #E5E5E5;
}

.main-heading{
    display: flex;
    width: 100%;
    align-items: center;
}

.main-heading-title{
    margin-right: auto;
    margin-left: 30px;
    margin-top: 30px;
}

.main-heading-user{
    margin-right: 33px;
    margin-top: 30px;
}

.main-info{
    height: 78%;
    width: 85%;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    overflow-y: scroll;
    border: 1px solid black;
}

.main-info::-webkit-scrollbar{
    display: none;
}

.sidebar-page{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.sidebar-page:hover{
    border-left-color: #FFFFFF;
    border-left-width: 1px;
}

.page-img{
    display: flex;
    width: 20px;
    align-self: center;
    margin-left: 32px;
    margin-right: 24px;
}

.page-name{
    color: #FFFFFF;
}

.dash-icon-div-top{
    display: flex;
    align-items: center;
    height: 100px;
}

/* Stock item styling inside main info as a table  */

.stock-item-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    margin-bottom: 7px;
    border-bottom: 2px solid #E5E5E5;
}

.stock-item-header > h3{
    font-size: 17px;
    font-weight: 200;
    font-family: lexend Deca;
    width: 70px;
    max-height: 70px;
    cursor:default;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.stock-item-header > h3:hover{
    border-bottom-width: 10px;
    border-bottom: 0.5px solid #224957;
}

/* .header-status{
    margin-left: 35px;
    margin-right: 14px;
}
*/

.header-id{
    margin-left: 15px;
    margin-right: 0px;
}

.header-name{
    margin-left: 70px;
    margin-right: 0px;
}

.header-supplier{
    margin-left: 35px;
    margin-right: 50px;
}

.header-quantity{
    margin-left: -25px;
    margin-right: 0px;
}

.header-price{
    margin-right: 15px;
}

.header-total{
    margin-right: 15px;
}

.stock-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
    font-family: lexend Deca;
    border-bottom: 2px solid #E5E5E5;
}

.stock-item:hover{
   background-color: aliceblue;
}

.stock-item > p {
    display: flex;
    max-width: 70px;
    max-height: 70px;
    justify-content: center;
    align-items: center;
    cursor: default;
}



.stock-img{
    display: flex;
    align-self: center;
    width: 20px;
    cursor: default;
}